body {
    font-family: 'Inter', sans-serif;
}

.tab-active {
    border-bottom-color: #3b82f6;
    color: #3b82f6;
}

/* Estilização para o scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #e5e7eb; /* gray-200 */
}

::-webkit-scrollbar-thumb {
    background: #9ca3af; /* gray-400 */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* gray-500 */
}
